div#active_discussion_container
    div#active_discussion_meta
        div#active_discussion_tagger
            img
        div#active_discussion_meta_right
            div#active_discussion_name
            div#active_discussion_url
            div#active_discussion_time
        
    div#active_discussion_body
    div#active_discussion_comment_outer
    div#active_discussion_response
        img#active_discussion_response_img(src=user.imgSmall)
        input#active_discussion_response_input(type="input", placeholder="Write a comment")
    div#active_discussion_comment_template
        img.active_discussion_comment_image
        div.active_discussion_comment_container
            span.active_discussion_commentor
            span.active_discussion_comment_body
