include dre_files/dre.html
script(src="/js/jquery.js")
script(src="/js/jPulse.js")
script(src="/js/html2canvas.js")
script(src="/js/html2canvas.svg.js")
script(src="/js/contentscript.js")
script(src="/js/jquery.easing.min.js")
link(rel='stylesheet', href='/css/style.css')
