doctype html
html(lang="en")
	head
		script(type='text/javascript', src='/js/jquery.js')
		script(type='text/javascript', src='/js/site.js')
		script(type='text/javascript', src='/js/util.js')
		link(rel="stylesheet", href="/css/style.css")
		link(rel="icon", type="image/png", href="/images/favicons/spot-32.png")
		title Chicken Pox - Discussions done right
	body
		div#top
			div#logo
				img(src="/images/logo.png")
			div#tag_line
				h1 Discuss what matters with who matters most
			div#search
				div#search_loader
				input#url-input(type="text", placeholder="Copy and paste a URL")
