doctype html
html(lang="en")
	head
		script(src="https://cdn.socket.io/socket.io-1.4.5.js")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
		script(type='text/javascript', src='/js/site.js')
		script(type='text/javascript', src='/js/util.js')
		script.
			var poxUser = !{JSON.stringify(user).replace(/<\//g, "<\\/")}
		script(type='text/javascript', src='/js/jPulse.js')
		
		link(rel="stylesheet", href="/css/style.css")
		link(rel="stylesheet", href="/css/menu.css")
		link(rel="icon", type="image/png", href="/images/favicons/spot-32.png")
		title Chicken Pox - Discussions done right
	body
		include fb-sdk
		div#top
			div#logo
				img(src="/images/logo.png")
			div#tag_line
				h1 Discuss what matters <br>with who matters most
			div#search
				div#search_loader
				input#url-input(type="text", placeholder="Copy and paste a URL")
		div#spot_holder
		div#pox_selection_menu
			div#selection_description Select a point on the page to tag
			img#image_overlay
			div#selection_overlay
		div#general_overlay
		include tag_menu.jade