doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    script(src="/js/jquery.js")
    script(src="/js/jPulse.js")
    script(src="/js/html2canvas.js")
    script(src="/js/html2canvas.svg.js")
    script(src="/js/contentscript.js")
  body
    block content
