extends lev-layout

block content
    div#lev_menu
        div#lev_menu_inner
            div#lev_menu_inner_left
                div.lev_menu_description Custom message:
                    span#selection_arrow_down
                textarea#lev_comment_box
            div.save_button_row
                a#save_button_purple() Share
                a#save_button_grey() Keep it Private
                div#clear
