#pox--tag_menu
	#pox--pulse_pointer
		#pox--pp_icon.pox--pp_text
	#pox--tag_menu_notification_saved
		span Tag saved!
	// 1. Tag Content
	#pox--tag_menu_content
		#pox--input_container
			div#pox--pulse_user_image
			input#pox--pulse_comment_input(type='text')
			textarea#pox--pulse_comment_textarea
	// 2. Save Menu
	#pox--tag_menu_save
		.pox--button_row
			a#pox--save_button_blue(href='javascript:void(0)') Share
			a(href='javascript:void(0)') Tag More
	#pox--tag_menu_load_page
		#pox--tm_loader
		#pox--tm_loader_message
	#pox--tag_menu_controls
		a#pox--tag_menu_controls_another + Another Tag
		a#pox--tag_menu_controls_hide Cancel
		
#pox--general_overlay
#pox--pulse_preview
style
	include ../public/css/menu.css
script
	include ../public/js/menu.js