div#tag_menu
    
    div#pulse_pointer
        div#pp_icon.pp_text
    div#tag_menu_notification_saved
        span Tag saved!

    // 1. Tag Content
    div#tag_menu_content
        #lev_input_container
            img#pulse_user_image(src=user.imgSmall)
            input#lev_comment_input(type="text")
            textarea#lev_comment_textarea
        div#lev_comment_preset
        
        // buttons
        // div.button_row
            //a#tag_share_button() Share Tag
                span.next_arrow.button_arrow
            
            a#tag_save_message_button Save Message
                span.plus_icon
            //a.tag_hide_button Hide
    // 2. Chain menu
    div#tag_menu_chain
        div#chain_selection_row
            a#default_chain.active_chain My Pulse
                input(type="hidden" value="1")
            a WTF
                input(type="hidden" value="2")
            a This!
                input(type="hidden" value="3")
            a Hacking
                input(type="hidden" value="4")
            a Music
                input(type="hidden" value="5")
            a#more_chain.nothing ...
                input(type="hidden" value="6")
    // 2. Who
    div#tag_menu_who
        //div.tag_specify_row_label Who can see your tag?
        div.tag_specify_row
            div.custom_radio
                a.custom_radio_option.custom_radio_option_active Specify
                a.custom_radio_option Anyone with a link
        div.tag_specify_row
            // div.tag_specify_row_label People and Groups
            input#people_search_input
            //- div.tag_specify_row_label Recent
            //- div#tag_recent_container    
        // buttons
        div.button_row
            //a#tag_back_button.button_grey() Back
                span.back_arrow.button_arrow
            a#tag_save_preview() Save People
                span.plus_icon
            a.button_grey Keep it Private
                span.lock_icon
    
    // 3. Tag Preview
    div#tag_menu_preview
        div.tag_menu_title Preview Content
        div#tag_menu_preview_container
            div.tag_item_top
                img.tag_item_user_img
                div.tag_item_user_name
                div.tag_item_details
                    span.tag_item_timestamp 15 minutes ago
                    span.tag_item_comment_count 0 Comments
                    span.tag_item_point_count 0 Points
            div.tag_item_thoughts
            div.tag_item_snippit
                div.tag_item_snippit_text
                canvas.tag_item_snippit_img
                a.tag_item_snippit_link
                
        div.button_row
            a#preview_back_button.button_grey() Back
                span.back_arrow.button_arrow
            a#tag_finish_button() Finish
                span.button_check
    
    div#tag_menu_load_page
        div#tm_loader
        div#tm_loader_message
    // close button
    // a#x.x
