div#tag_menu
    //div.menu_label 1. Tag Content
    
    div#tag_menu_content
        div.tag_menu_title Tag content
        div.custom_select
            div.active_item
                span.active_item_text Custom message:
                span.selection_toggle_arrows
            div.custom_select_list
                div.custom_select_section_label Custom Message:
                a.custom_select_item Write your own text
                    span.custom_select_val {"type":"action", "val":"showCustomMessage"}
                div.custom_select_section_label Or choose from these:
                a.custom_select_item What do you think about this?
                    span.custom_select_val {"type":"text", "val":"What do you think about this?"}
                a.custom_select_item Look into this.
                    span.custom_select_val {"type":"text", "val":"Look into this."}
                a.custom_select_item How cool is this?
                    span.custom_select_val {"type":"text", "val":"How cool is this?"}
                a.custom_select_item This is what I was talking about.
                    span.custom_select_val {"type":"text", "val":"This is what I was talking about."}
                a.custom_select_item What's going on here?
                    span.custom_select_val {"type":"text", "val":"What's going on here?"}
                a.custom_select_item This is great.
                    span.custom_select_val {"type":"text", "val":"This is great."}
                a.custom_select_item This is terrible.
                    span.custom_select_val {"type":"text", "val":"This is terrible."}
        textarea#lev_comment_box
        div#lev_comment_preset
        
        // buttons
        div.button_row
            a#tag_share_button() Share Tag
                span#next_arrow.button_arrow
            a#tag_private_button.button_grey() Private Tag
                span#lock_icon
            
    // 2. Who
    div#tag_menu_who
        div.tag_menu_title Who can see your tag?
        div.tag_specify_row
            div.custom_radio
                a.custom_radio_option.custom_radio_option_active Specify
                a.custom_radio_option Anyone with a link
        div.tag_specify_row
            div.tag_specify_row_label People and Groups
            input#people_search_input
            //- div.tag_specify_row_label Recent
            //- div#tag_recent_container    
                
        
        // buttons
        div.button_row
            a#tag_back_button.button_grey() Back
                span#back_arrow.button_arrow
            a#tag_save_preview() Save and Preview
                span#next_arrow.button_arrow

    div#tag_menu_preview
    a#x
