body
{
    background-color:#efefef;
    padding:0;
    margin:0;
}

#outer
{
    margin:10px 0 10px 50px;
}

#header
{
}

#nav
{

}

#content
{
    padding:10px;
}


.feed_row
{
    margin:0 0 20px 0;
    font-family: 'Open Sans';
}


div.feed_row_left
{
    display: inline-block;
    width:400px;
    border-radius: 5px;
    border:1px solid #ccc;
    background-color:#fff;
    position:relative;
    padding:10px;
    margin:0 10px 0 0;
}

div.feed_row_right
{
    display: inline-block;
    width:400px;
    vertical-align: top;
    padding:10px;
}

.feed_row_title
{
    font-size:13px;
    font-weight:bold;
    padding:0 0 0 25px;
    margin:0 0 10px;
    height:20px;
    overflow: hidden;
}

div.feed_row_img
{
    height:200px;
    overflow: hidden;
    position:relative;
}

img.feed_img_target, img.feed_img_generic
{
    width:100%;
    background-color: #efefef;
}

img.feed_img_favicon
{
    position:absolute;
    left:10px;
    top:13px;
    height:15px;
    width:15px;
}

div.feed_row_meta
{
    margin:5px 0 0;
    padding:5px 0 0;
    border:#efefef solid;
    border-width:1px 0 0;
    color:#999;
    font-size:13px;
}

div.feed_row_ts
{

}

div.feed_row_url
{
}

div.feed_usr_img
{

}

.feed_row_op
{

}
