body
{
    padding:0;
    margin:0;
}


#x
{
    background-image:url('../images/x.png');
    height:20px;
    width:20px;
    cursor:pointer;
    position:absolute;
    top:-20px;
    right:-20px;
}

a.disabled {
    color:gray;
    pointer-events: none;
}


#tag_menu
{
    background-color:#efefef;
    position:absolute;
    top:100px;
    left:0;
    z-index:99999999999999999;
    -webkit-box-shadow: 0px 0px 31px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 31px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 31px -4px rgba(0,0,0,0.75);
    font-family: 'Open Sans';
    padding:7px;
    display:none;
    font-size:14px;
    border-radius: 3px;
}

#tag_menu_nav
{
    padding:0 0 15px;
}

#tag_menu_nav a
{
    font-size:13px;
    padding:7px 15px;
    margin:0 10px 0 0;
    color:#444;
    display:inline-block;
    cursor:pointer;
    border-radius: 0 0 3px 3px;
    min-width:60px;
    text-align:center;
}

#pulse_pointer
{
    position:absolute;
    left:-38px;
    top:-1px;
    width:38px;
    height:48px;
    background-image: url('../images/pulse_pointer.png');
    opacity: 0.85;
}

#pp_icon
{
    position:absolute;
    right:6px;
    top:12px;
    width:16px;
    height:21px;
}

#pp_icon.pp_text
{
    background-image:url('../images/pp_text.png');
}

#pp_icon.pp_chain
{
    background-image:url('../images/pp_chain.png');
}

#tag_menu_nav a:hover
{
    background-color:#ccc;
}

#tag_menu_nav a.tag_menu_title
{
    background-color:#444;
    color:#fff;
    font-weight: normal;
}

#tag_menu_nav a.tag_menu_title:hover
{
    background-color:#444;
    color:#fff;
}

#tag_menu_notification_saved
{
    background-color:#cfeed9;
    color:#295437;
    text-align:center;
    padding:5px 0;
    font-size: 12px;
    font-weight: bold;
    position:absolute;
    width:100%;
    bottom:-32px;
    left:0;
    border-radius: 5px;
    box-shadow: 0px 0px 15px -5px rgba(0,0,0,0.5);
    display:none;
}

#tag_menu_tag
{
    margin:0 auto;
}

#tag_menu .button_row
{
    padding:15px 0 0;
}

#tag_menu .button_row a
{
    height:24px;
    padding:5px 0 0;
    width: 110px;

    color:#fff;
    display:inline-block;
    text-align:center;
    font-size:13px;
    cursor:pointer;
    position:relative;
    border-radius: 3px;
}

#tag_menu .button_row a#tag_share_button,
#tag_menu .button_row a#tag_save_preview,
#tag_menu .button_row a#tag_finish_button,
#tag_menu .button_row a#tag_private_button,
#tag_menu .button_row a#tag_save_message_button
{
    background-image:url('../images/pbutton.png');
    margin:0 10px 0 0;
    border:#44063b solid 1px;
}

#tag_menu .button_row a#tag_save_preview
{
    width:85px;
    padding-right:25px;
}

#tag_menu .button_row a#tag_finish_button
{
    width:80px;
}

#tag_menu .button_row a#save_button_blue
{
    background-image:url('../images/bbutton.png');
}

#tag_menu .button_row a.tag_hide_button
{
    color:#333;
    width:70px;
}

#tag_menu .button_row a.button_grey
{
    background-image:url('../images/gbutton.png');
    color:#111;
    border-color:#999;
    width: 95px;
    padding-right:25px;
    padding-left:5px;
}

#tag_menu .button_row #tag_save_message_button
{
    padding-right:20px;
    width:110px;
}

#tag_menu .button_row a#tag_back_button, #tag_menu .button_row a#preview_back_button
{
    width:50px;
    margin:0 10px 0 0;
    padding-left:15px;
}

#tag_menu .button_row a#tag_private_button:hover
{
    border-color:#777;
}

textarea#lev_comment_textarea, input#lev_comment_input
{
    width:315px;
    height:20px;
    font-size: 13px;
    font-family: 'Open Sans';
    border-color:#aaa 1px solid;
    margin:0;
    padding:3px 5px 5px;
}

input#lev_comment_input
{

}

textarea#lev_comment_textarea
{
    display:none;
}

#lev_comment_preset
{
    display:none;
    font-weight:bold;
    padding: 0 0 10px;
}

.tag_menu_description
{
    padding:0 0 10px;
    font-size:14px;
    color:#222;
    position:relative;
    font-weight:bold;
}

#lock_icon
{
    background-image:url('../images/icon_lock_white.png');
    width:10px;
    height:13px;
    position:absolute;
    right:10px;
    top:7px;
}

span.plus_icon
{
    background-image:url('../images/icon_plus.png');
    width:13px;
    height:12px;
    position:absolute;
    right:10px;
    top:9px;
}

span.lock_icon
{
    background-image:url('../images/icon_lock.png');
    width:10px;
    height:13px;
    position:absolute;
    right:10px;
    top:7px;
}

span.button_check
{
    width:14px;
    height:11px;
    background-image:url('../images/button_check.png');
    position:absolute;
    right:10px;
    top:9px;
}

span.button_arrow
{
    width:7px;
    height:10px;
    position:absolute;
    right:10px;
    top:10px;
}

span.next_arrow
{
    background-image:url('../images/next_arrow.png');
}


.back_arrow
{
    background-image:url('../images/back_arrow.png');
    left:10px;
}

#selection_arrow_down
{
    background-image:url('../images/select_arrow_down.png');
    width:13px;
    height:9px;
    left:135px;
    top:7px;
    display:block;
    position:absolute;
}

.selection_toggle_arrows
{
    background-image:url('../images/toggle_arrows.png');
    width:9px;
    height:12px;
    top:4px;
    right:0;
    display:block;
    position:absolute;
}

#tag_menu .custom_select
{
    padding:0 0 5px;
    position:relative;
}

#tag_menu .custom_select .active_item
{
    position:relative;
    min-height:15px;
    font-size:13px;
    display:inline-block;
    vertical-align: top;
    cursor:pointer;
    padding:0 20px 0 0;
    color:#333;
}

#tag_menu .custom_select .custom_select_list
{
    position:absolute;
    left:0;
    top:20px;
    background-color:#222;
    padding:5px 0;
    display:none;
}

#tag_menu .custom_select .custom_select_list a.custom_select_item
{
    display:block;
    text-decoration:none;
    font-size:14px;
    padding:5px 15px;
    border:#333 dotted;
    border-width:0 0 1px;
    color:#efefef;
    cursor:default;
    font-weight:bold;
}

.custom_select_section_label
{
    color:#ccc;
    padding:3px 0 3px 5px;
    font-size:13px;
}

#tag_menu .custom_select .custom_select_list .custom_select_val
{
    display:none;
}

#tag_menu .custom_select .custom_select_list a.custom_select_item:hover
{
    background-color:#333;
}

#tag_menu .custom_radio
{
}

#tag_menu .custom_radio .custom_radio_option
{
    display:inline-block;
    padding:2px 20px;
    vertical-align: top;
    border:#866481 solid;
    border-width:1px 1px 1px 0;
    font-size:13px;
    text-align: center;
    color:#444;
    background-color:#fff;
}

#tag_menu .custom_radio .custom_radio_option:first-child
{
    border-radius: 3px 0 0 3px;
    border-left-width:1px;
}

#tag_menu .custom_radio .custom_radio_option:last-child
{
    border-radius: 0 3px 3px 0;
}

#tag_menu .custom_radio .custom_radio_option_active
{
    background-color:#E6CEE3;
    color:#383421;
}

#people_search_input
{
    font-size:14px;
    width:385px;
    padding:7px 5px;
}

.tag_specify_row
{
    padding:0 0 10px 0px;
}

.tag_specify_row_label
{
    color:#444;
    padding:0 0 5px;
    font-size:13px;
}

#tag_menu_content, #tag_menu_who, #tag_menu_preview, #tag_menu_load_page, #tag_menu_chain
{
    display:none;
    width:330px;
    min-height:33px;
}

#tag_menu input, #tag_menu textarea
{
    line-height: normal;
    font-weight:normal;
    font-style: normal;
    box-shadow:0;
    box-sizing: content-box;
}

#tm_loader
{
    background-image:url('../images/rolling.gif');
    width:32px;
    height:32px;
    position:absolute;
    left:50%;
    top:50%;
    margin:-16px 0 0 -16px;
}

#tm_loader_message
{
    color:#333;
    text-align: center;
    font-size:14px;
    position:absolute;
    top:50%;
    width:100%;
    height:20px;
    margin:-10px 0 0;
    left:0;
}

#tag_menu_preview_img
{
    position:relative;

    padding:0 0 75px;
}


.tag_item_thoughts
{
    padding:0 0 15px;
    font-size:16px;
    font-weight:bold;
}

.tag_item_top
{
    position:relative;
    padding:0px 0 0 40px;
    margin:0 0 10px;
    height:45px;
    border:#ccc solid;
    border-width:0 0 1px;
}

.tag_item_user_name
{
    color:#444;
    font-size: 13px;
    padding:0 0 2px;
}

.tag_item_user_img
{
    border-radius: 15px;
    position:absolute;
    left:0;
    top:0;
}

.tag_item_details
{
    color:#999;
    font-size: 12px;
}

.tag_item_details span
{
    padding-right:10px;
}

.tag_item_snippit_img
{
    display:inline-block;
    border-radius:10px;
}

.tag_item_snippit_link
{
    color:#999;
    padding:0;
    display:block;
    font-size:12px;
}

.tag_item_snippit_link:hover
{
    color:#205666;
}

.tag_item_snippit
{
    border:#ccc solid;
    border-width:0 0 1px;
    padding:0 0 15px;
}

.tag_item_snippit_text
{
    display:inline-block;
    /*background-color:#ccc;*/
    color:#000;
    vertical-align: top;
    font-size:12px;
    width:300px;
    height:100px;
    overflow:hidden;
    font-family: monospace;
    line-height:15px;
    padding:0 10px 0 0;
}

#chain_selection_row
{

}

#chain_selection_row a
{
    padding:7px 10px;
    display:inline-block;
    margin:0 3px 0 0;
    color:#333;
    font-size:13px;
    border-radius:5px;
    cursor:pointer;
}

#chain_selection_row a:hover, #chain_selection_row a.active_chain
{
    box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.5)
}

#chain_selection_row a#more_chain
{
    padding:7px 5px;
    margin:0;
}

#chain_selection_row a#default_chain
{
    color:#803064;
}

#clear
{
    clear:both;
    position:relative;
}


#general_overlay
{
    top:0;
    left:0;
    position:fixed;
    background-color:#000;
    z-index:99999999999999998;
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
    width:100%;
    height:100%;
    display:none;
}
