body
{
    padding:0;
    margin:0;
}


#x
{
    background-image:url('../images/x.png');
    height:20px;
    width:20px;
    cursor:pointer;
    position:absolute;
    top:10px;
    right:10px;
}

a.disabled {
    color:gray;
    pointer-events: none;
}


#tag_menu
{
    background-color:#efefef;
    position:absolute;
    top:100px;
    left:0;
    z-index:99999999999999999;
    -webkit-box-shadow: 0px 0px 31px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 31px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 31px -4px rgba(0,0,0,0.75);
    font-family: 'Open Sans';
    padding:10px;
    display:none;
    border:#999 solid 1px;
    font-size:14px;
}


.menu_label
{
    background-color:#e9d2e2;
    padding:3px 10px;
    color:#420d30;
    font-size:13px;
    position:absolute;
    top:-30px;
    left:-1px;

    border: #420d30 solid;
    border-width:1px 1px 0;
}

#tag_menu_tag
{
    margin:0 auto;
}

#tag_menu_inner_left, #tag_menu_inner_right
{
    display:inline-block;
    vertical-align:top;
}

#tag_menu_inner_left
{
    margin:0 10px 0 0;
    width:460px;
}

#tag_menu_inner_right
{
    margin:0 10px 0 0;
    width:240px;
}

#tag_menu .button_row
{
    padding:6px 0 0;
}

#tag_menu .button_row a
{
    height:24px;
    padding:5px 0 0;
    width: 110px;
    border:#44063b solid 1px;
    color:#fff;
    display:block;
    float:left;
    text-align:center;
    font-size:13px;
    cursor:pointer;
    position:relative;
}

#tag_menu .button_row a#tag_share_button, #tag_menu .button_row a#tag_save_preview
{
    background-image:url('../images/pbutton.png');
    margin:0 10px 0 0;
    padding-right:15px;
    width: 90px;
}

#tag_menu .button_row a#tag_save_preview
{
    width:140px;
}

#tag_menu .button_row a#save_button_blue
{
    background-image:url('../images/bbutton.png');
}

#tag_menu .button_row a#tag_private_button
{
    background-image:url('../images/gbutton.png');
    color:#111;
    border-color:#999;
    padding-right:15px;
    width: 95px;
}

#tag_menu .button_row a#tag_private_button:hover
{
    border-color:#777;
}

textarea#lev_comment_box
{
    width:420px;
    height:20px;
    font-size: 14px;
    font-family: 'Open Sans';
    border-color:#aaa;
    margin:0;
    padding:3px 5px;
}

#lev_comment_preset
{
    display:block;
    font-weight:bold;
    padding: 0 0 10px;
}

.tag_menu_description
{
    padding:0 0 10px;
    font-size:14px;
    color:#333;
    position:relative;
}

#lock_icon
{
    background-image:url('../images/lock_icon.png');
    width:10px;
    height:13px;
    position:absolute;
    right:10px;
    top:7px;
}

#next_arrow
{
    background-image:url('../images/next_arrow.png');
    width:7px;
    height:10px;
    position:absolute;
    right:10px;
    top:10px;
}

#selection_arrow_down
{
    background-image:url('../images/select_arrow_down.png');
    width:13px;
    height:9px;
    left:135px;
    top:7px;
    display:block;
    position:absolute;
}

.selection_toggle_arrows
{
    background-image:url('../images/toggle_arrows.png');
    width:9px;
    height:12px;
    top:4px;
    right:0;
    display:block;
    position:absolute;
}

#tag_menu .custom_select
{
    padding:0 0 5px;
    position:relative;
}

#tag_menu .custom_select .active_item
{
    position:relative;
    min-height:15px;
    font-size:13px;
    display:inline-block;
    vertical-align: top;
    cursor:pointer;
    padding:0 20px 0 0;
    color:#333;
}

#tag_menu .custom_select .custom_select_list
{
    position:absolute;
    left:0;
    top:20px;
    background-color:#222;
    padding:5px 0;
    display:none;
}

#tag_menu .custom_select .custom_select_list a.custom_select_item
{
    display:block;
    text-decoration:none;
    font-size:14px;
    padding:5px 15px;
    border:#333 dotted;
    border-width:0 0 1px;
    color:#efefef;
    cursor:default;
    font-weight:bold;
}

.custom_select_section_label
{
    color:#ccc;
    padding:3px 0 3px 5px;
    font-size:13px;
}

#tag_menu .custom_select .custom_select_list .custom_select_val
{
    display:none;
}

#tag_menu .custom_select .custom_select_list a.custom_select_item:hover
{
    background-color:#333;
}

#tag_menu .custom_radio
{

}

#tag_menu .custom_radio .custom_radio_option
{
    display:inline-block;
    padding:3px 10px;
    vertical-align: top;

}

#tag_menu .custom_radio .custom_radio_option_active
{
    background-color:#7FA580;
    color:#fff;
}

#people_search_input
{

}

.tag_specify_row
{
    padding:0 0 10px 15px;
}

#tag_menu_who
{
    display:none;
    width:600px;
}

#tag_menu_preview
{
    display:none;
}

#clear
{
    clear:both;
    position:relative;
}


#general_overlay
{
    top:0;
    left:0;
    position:fixed;
    background-color:#000;
    z-index:99999999999999998;
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
    width:100%;
    height:100%;
    display:none;
}
